* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.simple-photo-content {
    width: 1280px;
    height: 1626px;
    display: block;
    margin: 0;
    background: rgba(0, 0, 0, 0.0001);
}

.menu-header-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.menu-header {
    display: flex;
    margin-left: 330px;
    margin-right: 330px;
}

.menu-header-item {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.menu-header-item + .menu-header-item {
    margin-left: 72px;
}

.photo-header {
    width: 1280px;
    height: 789px;
}

.title-main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26.82px;
    font-size: 22px;
    font-style: normal;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 253px 38px;
    padding: 0;
}

.text-main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 2.4px;
    margin-left: 65.5px;
    margin-right: 65.5px;
    margin-bottom: 28px;
    text-align: center;
}

.button-red {
    background-color: #FF0000;
    border-radius: 4px;
    padding: 17.5px 0;
    margin: 66px 544.5px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    line-height: 12px;
    font-size: 12px;
    width: 191px;
    height: 51px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: right;
    margin: 82px 105px 29px 0;
}

